<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }}</title>

    {% set css %}
        {% include 'css/reset.css' %}
        {% include 'css/font.css' %}
        {% include 'css/layout.css' %}
        {% include 'css/component.css' %}
        {% include 'css/holi.css' %}
        {% include 'css/media.css' %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>
</head>
<body>
    
    <header><a href="/">Know Your IT</a></header>
    
    {% if page.url !== '/'%}
        <nav>
            {% set breadcrumbs = '/' %}

            <a href="{{ breadcrumbs }}">home</a>

            {% for i in (page.url | parseURL) %}

                    {% set breadcrumbs = breadcrumbs + i + '/' %}
                    
                    -> <a href="{{ breadcrumbs }}">{{ i }}</a>

            {% endfor %}
        </nav>    
    {% endif %}
    
    <main>
        {{ content | safe }}
    </main>

    <footer> &copy; 2021 KYIT.org</footer>
</body>
</html>
