{% macro loopC(c) %}

    {% for post in c | reverse %}

        <a href="{{ post.filePathStem | replace('/posts', '') | replace('/index', '') }}">

            <div class="link-tag">

                <h2>
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        {{ post.fileSlug | replace("-", " ") | capitalize }}
                    {% endif %}
                </h2>   

                <span class="link-tag-date">
                    {{ post.date | postDate }}
                </span>    
            </div>
            
        </a>

    {% endfor %}

{% endmacro %}