---
title: How to add a user
---

<h2>Add user only</h2>

{% highlight "bash" %}
useradd kyit
done!!!
{% endhighlight %}


<h2>Add user with home directory</h2>

{% highlight "bash" %}
useradd -m kyit
done!!!
{% endhighlight %}