---
title: How to delete a user
---

<h2>Delete user only</h2>

{% highlight "bash" %}
userdel kyit
done!!!
{% endhighlight %}


<h2>Delete user and home directory</h2>

{% highlight "bash" %}
userdel -r kyit
done!!!
{% endhighlight %}